*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
} 
body {
    align-items: center;
    justify-content: center;
}
h3{
    
    margin-bottom:  10px;
    font-size: 25px;
    text-align: center;
}
.ff{
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  background-color: rgba(103, 176, 221, 0.3);
  margin-top: 20px;
  width: 65%;
}
.ff h4{
  text-align: center;
  font-family: 'Arial Narrow';
  font-size: 18px;
  margin-right: 10px;
  margin-top: 5px;
}
.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

nav {
  background-color: #333;
  height: 50px;
  border-top: 3px solid white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav li {
  margin: 0 10px;
}
.login{
  margin-left: 40%;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
div h5{
  color: #2a4621;
  font-size: 15px;
  text-align: center;
}
marquee{
  margin-top: 50px;
  font-family:'Courier New';
  font-size: 30px;

}
H2{
  font-size: 35PX;
  margin-top: 190PX;
  color: #73c046d9;
}
#register{
  text-decoration: none;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 3px;
  color: #fff; 
  font-weight: bold;
  background-color:rgb(0, 0, 0);
  cursor: pointer;
  
}
#register:hover{
  background-color: rgb(0, 0, 180);
}
#reg{
  margin-top:100px;
  
}

